<ul>
  <% @rating_exercise.ratings_grouped_by_user.each do |user, rating_value| %>
    <li>
      Total points for <%= user.email %>: <%= number_to_percentage(rating_value) %>
    </li>

  <% end %>
</ul>
